$v-bg-color: #FEFEFE;
$v-red-linear: linear-gradient(150deg, rgba(255,0,0,1), rgba(255,0,88,1));
$v-red-header: #CB2E36;
$v-red-border: #CC3C45;
$v-light-border: #F4F4F4;
$v-h5-gray : #F7F7F7;

// Breakpoints
$v-sm   : 767px;
$v-md   : 992px;
$v-lg   : 1300px;

// container size
$container-sm: 750px;
$container-md: 970px;
$container-lg: 1280px;
$max-width: 1500px;

// color
$v-black: #07020D;
$v-blue: #1E4881;
$v-second-blue: #029FAA;
$v-red: #dc092e;
$v-grey: #EBEEF2;
$v-second-grey: #979797;
$v-white: #F5F5F5;
$v-border-input: #E6E6E6;
$v-border-sidebar-label: #E0D0D0;
$v-label-input: #726E6E;
$v-dots: #D8D8D8;
